{% extends 'base.html' %}

{% block content %}
    <h1>Look at my fire website</h1>
    <h5>FYI: I mostly made this as a joke while I was in class so if this ever ends up on the internet I'd like to apologize, I was experimenting a lot</h5>
    <h2>if you want you can <a href="{{ url_for('auth.signup') }}">ssiiiiiiign up!!!!!</a> to enjoy some fire content</h2>
    <h3>if you'd like to visit the v o i d click <a href="http://www.staggeringbeauty.com/">here</a> and wiggle your mouse a lot: <a href="http://www.staggeringbeauty.com/">v o i d</a></h3>
    <div class="imgcontainer">
    <img id="turtlepic" src="../../static/images/turtle pic.jpeg" alt="pic of an awesome turtle"></div>
{% endblock %}